@use "../../../../colours";

// Shared
#contact-container
{
  display: flex;
}

.contact-button > line
{
  stroke: colours.$text;
  stroke-width: 10%;

  stroke-linecap: round;
  stroke-linejoin: round;

  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.contact-button > text
{
  fill: colours.$lowlight;

  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.contact-button.active-contact-button > line
{
  stroke: colours.$secondary;
  stroke-width: 12% !important;
}

.contact-button.active-contact-button > text
{
  font-size: 30% !important;
}

.contact-container
{
  display: none;
}

.contact-container.active-contact-container
{
  display: flex;
}

.download-button > line
{
  stroke: colours.$text;
  stroke-width: 10%;

  stroke-linecap: round;
  stroke-linejoin: round;

  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.download-button:hover > line
{
  stroke: colours.$text;
  stroke-width: 12%;
}

.download-button > text
{
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.download-button:hover > text
{
  font-size: 32%;
}

.copy-icon
{
  stroke: colours.$highlight;
  stroke-width: 1%;
  fill: transparent;
}

.selectable-contact-text
{
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.selectable-contact-text::selection
{
  fill: colours.$lowlight;
  background: colours.$text;
}

.selectable-contact-text::-moz-selection
{
  fill: colours.$lowlight;
  background: colours.$text;
}

.selectable-contact-text::selection:link
{
  fill: colours.$lowlight;
  background: colours.$text;
}

.selectable-contact-text::-moz-selection:link
{
  fill: colours.$lowlight;
  background: colours.$text;
}

.selectable-contact-text:hover, .selectable-contact-text:link
{
  fill: colours.$secondary;
}

.selectable-contact-text:hover, .selectable-contact-text:link
{
  fill: colours.$secondary;
}

// Horizontal
@media (min-aspect-ratio: 1/1)
{
  #contact-container
  {
    flex-direction: row;

    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  #contact-buttons-svg
  {
    width: 40%;
    height: 100%;

    flex-grow: 2;
    flex-shrink: 2;
  }
}

#contact-container-container-horizontal
{
  width: 60%;
  height: 100%;

  flex-grow: 3;
  flex-shrink: 3;
}

// Vertical
@media (max-aspect-ratio: 1/1)
{
  #contact-container
  {
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;
  }

  #contact-buttons-svg
  {
    width: 100%;
    height: 30%;

    flex-grow: 3;
    flex-shrink: 3;
  }
}

#contact-container-container-vertical
{
  width: 100%;
  height: 70%;

  flex-grow: 7;
  flex-shrink: 7;
}

// Hover
@mixin contact-line-large
{
  stroke: colours.$highlight;
  stroke-width: 12% !important;
}

@mixin contact-text-large
{
  font-size: 30% !important;
}

@mixin contact-line-small
{
  stroke-width: 9% !important;
}

@mixin contact-text-small
{
  font-size: 24% !important;
}

// Resume
// Horizontal
#resume-contact-button-horizontal:hover > line
{
  @include contact-line-large;
}

#resume-contact-button-horizontal:hover > text
{
  @include contact-text-large;
}

#resume-contact-button-horizontal:hover ~ #email-contact-button-horizontal > line
{
  @include contact-line-small;
}

#resume-contact-button-horizontal:hover ~ #email-contact-button-horizontal > text
{
  @include contact-text-small;
}

#resume-contact-button-horizontal:hover ~ #github-contact-button-horizontal > line
{
  @include contact-line-small;
}

#resume-contact-button-horizontal:hover ~ #github-contact-button-horizontal > text
{
  @include contact-text-small;
}

#resume-contact-button-horizontal:hover ~ #linkedin-contact-button-horizontal > line
{
  @include contact-line-small;
}

#resume-contact-button-horizontal:hover ~ #linkedin-contact-button-horizontal > text
{
  @include contact-text-small;
}

// Vertical
#resume-contact-button-vertical:hover > line
{
  @include contact-line-large;
}

#resume-contact-button-vertical:hover > text
{
  @include contact-text-large;
}

#resume-contact-button-vertical:hover ~ #email-contact-button-vertical > line
{
  @include contact-line-small;
}

#resume-contact-button-vertical:hover ~ #email-contact-button-vertical > text
{
  @include contact-text-small;
}

#resume-contact-button-vertical:hover ~ #github-contact-button-vertical > line
{
  @include contact-line-small;
}

#resume-contact-button-vertical:hover ~ #github-contact-button-vertical > text
{
  @include contact-text-small;
}

#resume-contact-button-vertical:hover ~ #linkedin-contact-button-vertical > line
{
  @include contact-line-small;
}

#resume-contact-button-vertical:hover ~ #linkedin-contact-button-vertical > text
{
  @include contact-text-small;
}

// Email
// Horizontal
#resume-contact-button-horizontal:has(~ #email-contact-button-horizontal:hover) > line
{
  @include contact-line-small;
}

#resume-contact-button-horizontal:has(~ #email-contact-button-horizontal:hover) > text
{
  @include contact-text-small;
}

#email-contact-button-horizontal:hover > line
{
  @include contact-line-large;
}

#email-contact-button-horizontal:hover > text
{
  @include contact-text-large;
}

#email-contact-button-horizontal:hover ~ #github-contact-button-horizontal > line
{
  @include contact-line-small;
}

#email-contact-button-horizontal:hover ~ #github-contact-button-horizontal > text
{
  @include contact-text-small;
}

#email-contact-button-horizontal:hover ~ #linkedin-contact-button-horizontal > line
{
  @include contact-line-small;
}

#email-contact-button-horizontal:hover ~ #linkedin-contact-button-horizontal > text
{
  @include contact-text-small;
}

// Vertical
#resume-contact-button-vertical:has(~ #email-contact-button-vertical:hover) > line
{
  @include contact-line-small;
}

#resume-contact-button-vertical:has(~ #email-contact-button-vertical:hover) > text
{
  @include contact-text-small;
}

#email-contact-button-vertical:hover > line
{
  @include contact-line-large;
}

#email-contact-button-vertical:hover > text
{
  @include contact-text-large;
}

#email-contact-button-vertical:hover ~ #github-contact-button-vertical > line
{
  @include contact-line-small;
}

#email-contact-button-vertical:hover ~ #github-contact-button-vertical > text
{
  @include contact-text-small;
}

#email-contact-button-vertical:hover ~ #linkedin-contact-button-vertical > line
{
  @include contact-line-small;
}

#email-contact-button-vertical:hover ~ #linkedin-contact-button-vertical > text
{
  @include contact-text-small;
}

// GitHub
// Horizontal
#resume-contact-button-horizontal:has(~ #github-contact-button-horizontal:hover) > line
{
  @include contact-line-small;
}

#resume-contact-button-horizontal:has(~ #github-contact-button-horizontal:hover) > text
{
  @include contact-text-small;
}

#email-contact-button-horizontal:has(~ #github-contact-button-horizontal:hover) > line
{
  @include contact-line-small;
}

#email-contact-button-horizontal:has(~ #github-contact-button-horizontal:hover) > text
{
  @include contact-text-small;
}

#github-contact-button-horizontal:hover > line
{
  @include contact-line-large;
}

#github-contact-button-horizontal:hover > text
{
  @include contact-text-large;
}

#github-contact-button-horizontal:hover ~ #linkedin-contact-button-horizontal > line
{
  @include contact-line-small;
}

#github-contact-button-horizontal:hover ~ #linkedin-contact-button-horizontal > text
{
  @include contact-text-small;
}

// Vertical
#resume-contact-button-vertical:has(~ #github-contact-button-vertical:hover) > line
{
  @include contact-line-small;
}

#resume-contact-button-vertical:has(~ #github-contact-button-vertical:hover) > text
{
  @include contact-text-small;
}

#email-contact-button-vertical:has(~ #github-contact-button-vertical:hover) > line
{
  @include contact-line-small;
}

#email-contact-button-vertical:has(~ #github-contact-button-vertical:hover) > text
{
  @include contact-text-small;
}

#github-contact-button-vertical:hover > line
{
  @include contact-line-large;
}

#github-contact-button-vertical:hover > text
{
  @include contact-text-large;
}

#github-contact-button-vertical:hover ~ #linkedin-contact-button-vertical > line
{
  @include contact-line-small;
}

#github-contact-button-vertical:hover ~ #linkedin-contact-button-vertical > text
{
  @include contact-text-small;
}

// LinkedIn
// Horizontal
#resume-contact-button-horizontal:has(~ #linkedin-contact-button-horizontal:hover) > line
{
  @include contact-line-small;
}

#resume-contact-button-horizontal:has(~ #linkedin-contact-button-horizontal:hover) > text
{
  @include contact-text-small;
}

#email-contact-button-horizontal:has(~ #linkedin-contact-button-horizontal:hover) > line
{
  @include contact-line-small;
}

#email-contact-button-horizontal:has(~ #linkedin-contact-button-horizontal:hover) > text
{
  @include contact-text-small;
}

#github-contact-button-horizontal:has(~ #linkedin-contact-button-horizontal:hover) > line
{
  @include contact-line-small;
}

#github-contact-button-horizontal:has(~ #linkedin-contact-button-horizontal:hover) > text
{
  @include contact-text-small;
}

#linkedin-contact-button-horizontal:hover > line
{
  @include contact-line-large;
}

#linkedin-contact-button-horizontal:hover > text
{
  @include contact-text-large;
}

// Vertical
#resume-contact-button-vertical:has(~ #linkedin-contact-button-vertical:hover) > line
{
  @include contact-line-small;
}

#resume-contact-button-vertical:has(~ #linkedin-contact-button-vertical:hover) > text
{
  @include contact-text-small;
}

#email-contact-button-vertical:has(~ #linkedin-contact-button-vertical:hover) > line
{
  @include contact-line-small;
}

#email-contact-button-vertical:has(~ #linkedin-contact-button-vertical:hover) > text
{
  @include contact-text-small;
}

#github-contact-button-vertical:has(~ #linkedin-contact-button-vertical:hover) > line
{
  @include contact-line-small;
}

#github-contact-button-vertical:has(~ #linkedin-contact-button-vertical:hover) > text
{
  @include contact-text-small;
}

#linkedin-contact-button-vertical:hover > line
{
  @include contact-line-large;
}

#linkedin-contact-button-vertical:hover > text
{
  @include contact-text-large;
}