@use "../../../../../colours";

#menu-header-svg > .menu-header
{
  stroke-width: 0;
  
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

#header-container > .hero-section-header
{
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

#menu-header-svg:hover > .menu-header
{
  stroke-width: 0.1%;
  
  fill: colours.$background;
}

#header-container:hover > .hero-section-header
{
  fill: colours.$background;
}

#menu-header-svg > text:nth-child(1)
{
  stroke: colours.$lowlight;
  fill: colours.$lowlight;
}

#header-container > text:nth-child(1)
{
  stroke: colours.$lowlight;
  fill: colours.$lowlight;
}

#menu-header-svg > text:nth-child(2)
{
  stroke: colours.$highlight;
  fill: colours.$highlight;
}

#header-container > text:nth-child(2)
{
  stroke: colours.$highlight;
  fill: colours.$highlight;
}

#menu-header-svg > text:nth-child(3)
{
  stroke: colours.$secondary;
  fill: colours.$secondary;
}

#header-container > text:nth-child(3)
{
  stroke: colours.$secondary;
  fill: colours.$secondary;
}

#menu-header-svg > text:nth-child(4)
{
  stroke: colours.$primary;
  fill: colours.$primary;
}

#header-container > text:nth-child(4)
{
  stroke: colours.$primary;
  fill: colours.$primary;
}

#menu-header-svg > text:nth-child(5)
{
  stroke: colours.$text;
  fill: colours.$text;
}

#header-container > text:nth-child(5)
{
  stroke: colours.$text;
  fill: colours.$text;
}